:root {
  --primary: #305ddd;
  --primary-2: #1f409a;
  --primary-3: #9db7ff;
  --primary-4: #f1f5ff;

  --secondary: #ffda63;

  --black-1: #171717;
  --black-2: #333333;

  --gray-1: #656565;
  --gray-2: #979797;
  --gray-3: #c8c8c8;
  --gray-4: #fafafa;

  --white: white;

  --red: #b91c1c;
  --red-200: #ffecec;

  --orange: orange;
  --orange-200: #fff2d9;

  --shadow-settings-1: 0 1px 28px 3px #b3b3b325;
}
