textarea {
  resize: vertical;
  padding: 1em;
  border-radius: 10px;
}

input {
  padding: 0.5em 1em;
  border-radius: 100px;
}

input,
textarea {
  width: 100%;
  font-family: 'manrope-regular', sans-serif;
  border: 1px solid var(--gray-1);
  color: var(--black-1);
  font-size: 1em;
}

div.form-field {
  margin: 1em 0;
}
div.form-field-inline {
  display: flex;
  align-items: center;
  gap: 1em;

  & > div {
    width: 100%;
  }
}

label {
  display: block;
  margin-bottom: 1em;
  font-size: 0.9em;
  font-family: 'manrope-bold', sans-serif;
  color: var(--black-2);

  &.required::after {
    padding-left: 0.5em;
    content: '*';
    color: var(--red);
  }
}
